<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AesEncoderKey" value="59-41-6C-10-A3-C2-8E-02-B2-33-B6-3D-8C-C3-A0-4E-B7-BB-F0-78-B5-BF-E8-3E-6E-C7-5E-78-B2-1F-79-92" />
        <add key="AesEncoderIV" value="D7-A5-B8-F7-23-CB-82-DD-49-B0-56-77-F3-AA-18-EF" />
    </appSettings>
</configuration>