@model Example.BusinessLogic.DTO.ContactDto
@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>
<p><b>ID</b>: @Model.Id</p>
<p><b>Name</b>: @Model.Name</p>
<p><b>Phone</b>: @Model.Phone</p>